.resources {
    display: flex;
    justify-content: space-between;
    height: 2rem;
}
.materials, .foods{
    display: flex;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.materials p, .foods p{
    margin: 0;
    padding-left: .5rem;
}
.score{
    display: flex;
    width: 6rem;
}
.scoreHit{
  position: relative;
  display: flex;
  width: 3.5rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 3px 4px black;
  z-index: 9;
  animation-name: animaScore;
  animation-duration: 1s;
}
.scoreHit p{
  margin: 0;
}
@keyframes animaScore {
  0%   {bottom:0px; opacity:1;}
  60%  {bottom:40px; opacity:1;}
  100%  {bottom:60px; opacity:1;}
}
.hide{
    display: none;
}
.hide p{
  margin: 0;
}