.resources {
    display: flex;
    justify-content: space-between;
    height: 2rem;
}
.materials, .foods{
    display: flex;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.materials p, .foods p{
    margin: 0;
    padding-left: .5rem;
}
.score{
    display: flex;
    width: 6rem;
}
.scoreHit{
  position: relative;
  display: flex;
  animation-name: animaScore;
  animation-duration: 1s;
}
@keyframes animaScore {
  0%   {bottom:0px; opacity:1;}
  60%  {bottom:20px; opacity:.5;}
  100%  {bottom:40px; opacity:0;}
}
.hide{
    display: none;
}