.resources {
    display: flex;
    justify-content: space-between;
}
.materials, .foods{
    display: flex;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.materials p, .foods p{
    margin: 0;
    padding-left: .5rem;
}
.score{
    display: flex;
    width: 6rem;
}